.credit-space
  .credit-title
    %h1 支払い方法
  .credit-edit
    .credit-list
      %p.credit-list-title クレジットカード一覧
    = render partial: 'users/credit-render-new'
    .credit-line
    =link_to "javascript:void(0)", class: "credit-method" do
      支払い方法について
      =fa_icon 'angle-right', class: 'credit-angle-right'