.item-edit-container
  %h1.item-edit-content__name
    @product.name
  .item-edit-content__clearfix
    .item-edit-content__photo
      .item-edit-content__auter
        .item-edit-content__owl-carousel
          .owl-carousel-space
            =image_tag("/IMG_mercari-footer-image.png", class: 'owl-carousel-main', size: '300x300')
  