.buy-product-mypage
  %p.buy-product-title-mypage
    出品した商品
.transaction-mypage
  =link_to "javascript:void(0)", class: "transaction-now-mypage transaction-tab-mypage btn active-2-mypage" do
    .border-red-2-mypage.line-up-2-mypage
    %p.transaction-now-title-mypage
      出品中
  =link_to myproducts_trading_user_path, class: "transaction-past-mypage2 transaction-tab-mypage btn" do
    %p.transaction-past-title-mypage
      取引中
  =link_to myproducts_sold_user_path, class: "transaction-past-mypage2 transaction-tab-mypage btn" do
    %p.transaction-past-title-mypage
      売却済み
.buy-products-now-list-mypage2.content-2.show-2-mypage
.myproducts-list-block
  %ul.mypage-products-arrow
    %li.mypage-products-arrow__left
      = link_to image_tag("/left.png", class:"mypage-products-arrow__left--icon")
    %li.mypage-products-arrow__right
      = link_to image_tag("/right.png", class:"mypage-products-arrow__right--icon")