

.purchase-confirmation{
  
  &__main{
    text-align: center;
    font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;

    

    &__container{
      width: 700px;
      margin: 0 auto;
      background-color: white;

      &__head{
        padding: 16px;
        font-size: 22px;
        line-height: 1.5;

      }

      &__buy-content{
        padding: 24px 12.5% 0;
        border-top: 1px solid #f5f5f5;

        &__inner{
          display: flex;
          flex-wrap:wrap;
          margin: 0 auto;
          max-width:320px;

          &__name {
            display: block;
            font-size: 16px;
            height: 64px;
            width: 240px;
            margin-left: 16px;
            text-align: left;
          }

          .form-box-tempolary{
            
            &__buy-price {
              margin-top: 8px;
              line-height: 1.5;
              font-size: 22px;
              &__shipping-fee{
                margin-left: 8px;
                font-size: 14px;
                font-weight: 400;
              }
            }
            &__buy-accordion{
              margin-top: 16px;
              &__accordion-parent{

                &__accordion-toggle{
                  padding: 16px;
                  font-size: 14px;
                  border: 1px solid #ccc;
                  cursor: pointer;
                }

                &__accordion-child{
                  padding: 24px 40px;
                  font-size: 14px;
                  text-align: left;
                  background-color:#fafafa;
                  display:none;
                  &__form-group{
                    
                    &__radio-default{
                      margin-top: 10px;
                      // -webkit-appearance: none;
                      cursor: pointer;
                      
                      
                        label{
                          display: flex;
                          
                          .radiobuttomA{
                            -webkit-transform: scale(1.3);
                            transform: scale(1.3);
                            margin-right: 10px;
                            display: inline-block;
                            position: relative;
                            top: 3px;
                          }

                          .radiobuttomB{
                            -webkit-transform: scale(1.3);
                            transform: scale(1.3);
                            margin-right: 10px;
                            display: inline-block;
                            position: relative;
                            top: 10px;
                          }
                        }

                    }
                    &__used-point{
                      margin-top: 8px;
                      border: 1px solid #ccc;
                      background-color: #fff;
                      border-radius: 4px;
                      font-size: 16px;
                      line-height: 1.5;
                      height: 48px;
                      padding: 10px 16px 8px;
                      width: 100%;
                      
                    }

                    input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button {
                      -webkit-appearance: none;
                      margin: 0;
                    }
                  }
                }  
              }
            }
            &__result-price{
              padding: 16px 0;
           
              &__row{
                display: table;
                font-size:16px;
                &__buy-price-cell1{
                  display: table-cell;
                  width: 194px;
                  text-align: left;
                  font-size: 18px;
                }
                &__buy-price-cell2{
                  display: table-cell;
                  width: 126px;
                  text-align: right;
                  font-size: 28px;
                }
              }
            }   
            .confirmation-error-text{
              margin-top: 8px;
              color: #ea352d;
              font-size: 14px;
              display: none;
            }
            


            &__btm-default{
              margin-top: 8px;
              border: 1px solid #888;
              background-color: #888;
              color: #fff;
              height: 48px;
              width: 318px;
              line-height: 48px;
              font-size: 14px;
            }

          }
        }
        }
    
      &__buy-user-info{
        margin-top: 40px;
        padding: 24px 12.5% 0;
        border-top: 1px solid #f5f5f5;
          &__inner{
            max-width: 320px;
            margin: 0 auto;
            text-align: left;
            font-size: 14px;
            h3{
              
            }
            address{
              margin-top: 8px;
              line-height: 1.4;
              
            }

          }
      }
  }
    

  }
  

.bold {
  font-weight: 600;
}

.buy-user-info-fix{
  display: block;
  text-align: right;
  font-size: 14px;
  color: #0099e8;
  text-decoration: none;
}

.pay-method{
  padding: 40px 0;
}



}
