itembuy-content {
  padding: 24px 40px 40px;
  background: #fff;
  margin: 40px auto 0;
  width: 700px;
  h1 {
    font-size: 24px;
    text-align: center;
    word-wrap: break-word;
    line-height: 1.4;
    font-weight: bold;
  }
  
}