
.single-container

  = render "layouts/exhibit-header"

  %main.single-container__single-main

    %section.single-container__single-main__l-single-container.single-container__single-main__buy-item-container
      %h2.l-single-head
        購入内容の確認
    %section.single-container__single-main__buy-content.single-container__single-main__buy-item
      .buy-content-inner
        %h3.buy-item-image
          -# = image_tag
        %p.buy-item-name.bold
          ヨーロッパ風 レディース リュック ホワイト マザーズリュック
      -# = form_with model: :product. local: true do |f|
      .form-box-tempolary
        %p.buy-price-ja.bold ¥8,777
        %span.item-shipping-fee.f14.bold 送料込み
        %ul.buy-accordion
          %li.accordion-parent
            .accordion-toggle 
              ポイントを使う
              %i.icon-arrow-bottom.accordion-icon
            %ul.accordion-child
              %li 所持ポイント: P200
              %li.form-group
                .radio-default
                  %label 
                    -# f.input ポイントを使わない
                .radio-default
                  %label
                    -# f.input 全てのポイントを使う 200
                .radio-default
                  %label
                    -# f.input 一部のポイントを使う
                -# f.input 使うポイントを入力
        %ul.buy-price-table
          %li.buy-price-row.buy-you-pay.bold
            .buy-price-cell
              支払い金額
            .buy-price-cell
              %span.data-buy-pay
                ¥3,980
        %p.has-error-text
          この商品はゆうゆうメルカリ便を利用しているため、アプリからのみ購入できます。
        %ul.buy-accordion.not-have
        %p
          アプリをお持ちでない方は以下よりインストールしてご利用いただけます。
      %buttom.submit 購入する
    %div
  -#     = link_to '#'
  -#       = image_tag
  -#     = link_to '#'
  -#       = image_tag
  %section.buy-content.buy-user-info
    .buy-content-inner 
      %h3
      %address.buy-user-info-text
        郵便番号
      %br
        住所
      %br
        名前
      %p
        ユーザー情報
      -# = link_to '#'
        %span
          変更する
        %i

  %section.buy-content.buy-user-info
    .buy-content-inner
      %h3
        支払い方法
      %p
      %figure
      %p
      = link_to '#'

  = render "layouts/exhibit-footer"