.itembuy-container
  = render 'products/item_header'
  %section.itembuy-content
    %h1.itembuy-content__name
      @product.name
    .itembuy-content__clearfix
      .itembuy-content__photo
        .itembuy-content__auter