.itembuy-container
  = render 'products/item_header'
  %section.itembuy-content
    %h1.itembuy-content__name
      @product.name
    .itembuy-content__clearfix
      .itembuy-content__photo
        .itembuy-content__auter
          .itembuy-content__owl-carousel

      %table.itembuy-content__table
        %tbody
          %tr
            %th 出品者
            %td
              = link_to "むらっち", "#"
              %div
                .itembuy-user-ratings{ id: 'itembuy-icon-good' }
                  %i.fas.fa-smile
                  %span 20
                .itembuy-user-ratings
                  %i.fas.fa-meh
                  %span 25
                .itembuy-user-ratings
                  %i.fas.fa-frown
                  %span 15
          %tr
            %th カテゴリー
            %td
              = link_to "メンズ", "#"
              = link_to "＞ジャケット/アウター", "#"
