* {
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  color: rgb(51, 51, 51);
  background-color: rgb(245, 245, 245);
  margin: 0px auto;
  min-height: 100%;
}


.popularity-category {
  padding: 56px 0px 30px;
  background-color: rgb(255, 255, 255);
  left: 50%;
  margin-left: -50vw;
  position: relative;
  top: 0px;
  width: 100vw;
  text-align: center;
  h2 {
    font-family: Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
    font-size: 28px;
    font-weight: 600;
    line-height: 1.4rem;
    margin: 0;
    padding: 0;
  }
  &__categories {
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    display: block;
    .category-lists{
      display: block;
      text-align: center;
      width: 100%;
      margin: 12px 0 16px 0;
      list-style: none;
      .category-list {
        background-color: rgb(239, 239, 239);
        cursor: pointer;
        display: inline-block;
        font-size: 14px;
        font-weight: 600;
        border-radius: 15px;
        padding: 8px 16px;
        text-decoration: none;
        color: inherit;
        margin-right: 10px;
        text-decoration: none;
        .link-category {
          text-decoration: none;
          color: inherit;
        }
      }
    }
  }
}

.category-products {
  padding: 42px 0px 20px;
  display: block;
  background-color: rgb(239, 239, 239);
  display: flex;
  &--new {
    max-width: 960px;
    margin: 0px auto;
    &__introduction {
      margin-bottom: 16px;
      -webkit-box-pack: justify;
      justify-content: space-between;
      float: left;
      .new-category {
        display: flex;
        flex: 1 1 0%;
        font-family: Arial,游ゴシック体,YuGothic,メイリオ,Meiryo,sans-serif;
        font-size: 24px;
        font-weight: 600;
        line-height: 1.4rem;
        margin: 0;
        padding: 0;
        padding-left: 10px;
      }
      .more-read {
        font-size: 14px;
        padding: 0px 20px 0 0;
        color: rgb(0, 149, 238);
        display: inline;
        font-weight: 600;
        text-decoration: none;
        float: right;
      }
    }
    &__lists {
      display: block;
      .new-category__lists {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        .new-item {
          width: 20%;
          height: 228px;
          display: list-item;
          text-align: -webkit-match-parent;
          list-style: none;
          display: flex;
          &__content {
            visibility: visible;
            transition: all 0.5s ease 0s;
            opacity: 1;
            display: block;
            width: calc(100% - 20px);
            height: 208px;
            margin: 10px;
            .new-item-image {
              width: 100%;
              position: relative;
              cursor: pointer;
              text-decoration: none;
              border: 1px solid transparent;
              display: block;
              height: 208px;
              transition-duration: .1s;
              transition-timing-function: ease-in-out;
              .sold-out{
                border-top: 70px solid #ea352d;
                border-right: 70px solid transparent;
                z-index: 100;
                position: absolute;
                top: 0;
                left: 0;
                }
                .sold-out-name{
                  transform: rotate(-45deg);
                  -moz-transform: rotate(-45deg);
                  -webkit-transform: rotate(-45deg);
                  color: #ffffff;
                  position: absolute;
                  top: 17px;
                  left: 2px;
                  z-index: 150;
                  font-size: 1.0rem;
                }
              .figure-container {
                background-color: #fff;
                height: 100%;
                width: 100%;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                display: -ms-flexbox;
                display: flex;
                font-family: Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
                color: inherit;
                margin-block-start: 1em;
                margin-block-end: 1em;
                margin-inline-start: 40px;
                margin-inline-end: 40px;
                flex-direction: column-reverse;
                margin: 0;
                overflow: hidden;
                z-index: 0;
                box-shadow: 0 2px 4px rgba(0,0,0,.18);
                -webkit-box-orient: vertical;
                -webkit-box-direction: reverse;
                &__figcaption {
                  box-sizing: border-box;
                  color: #222;
                  font-size: 14px;
                  height: 64px;
                  line-height: 1.4em;
                  padding: 0 12px;
                  white-space: normal;
                  word-break: break-word;
                  align-items: center;
                  display: flex;
                  width: 100%;
                  font-family: Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
                  -webkit-box-direction: reverse;
                  text-align: -webkit-match-parent;
                  list-style: none;
                  &__span {
                    display: inline-block;
                    height: 2.8em;
                    overflow: hidden;
                    position: relative;
                    color: #222;
                    white-space: normal;
                    word-break: break-word;
                    font: inherit;
                    visibility: visible;
                  }
                  &__span:after {
                    background: linear-gradient(90deg,hsla(0,0%,100%,0),#fff 72%);
                    bottom: 0;
                    content: "";
                    height: 50%;
                    position: absolute;
                    right: 0;
                    width: 50%;
                  }
                }
                &__image {
                  overflow: hidden;
                  padding: 0 0 100%;
                  position: relative;
                  width: 100%;
                  -webkit-box-direction: reverse;
                  color: inherit;
                  display: inline-block;
                  &__price {
                    align-items: center;
                    background-color: rgba(0,0,0,0.2);
                    color: #fff;
                    display: inline-flex;
                    font-size: 17px;
                    border-radius: 0 14px 14px 0;
                    bottom: 8px;
                    position: absolute;
                    left: 0;
                    bottom: 10px;
                    z-index: 2;
                    padding: 3px 5px;
                  }
                  .image-price {
                    display: block;
                    object-fit: cover;
                    width: 100%;
                    z-index: 1;
                  }
                }
              }
            }
            .new-item-image:hover {
              border: 1px solid rgb(0, 149, 238);;
            }
          }
        }
      }
    }
  }
}



.popularity-bland {
  padding: 56px 0px 0px;
  background-color: rgb(255, 255, 255);
  left: 50%;
  margin-left: -50vw;
  position: relative;
  top: 0px;
  width: 100vw;
  text-align: center;
  h2 {
    font-family: Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
    font-size: 28px;
    font-weight: 600;
    line-height: 1.4rem;
    margin: 0;
    padding: 0;
  }
  &__categories {
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    display: block;
    .bland-lists{
      display: block;
      text-align: center;
      width: 100%;
      margin: 12px 0 16px 0;
      list-style: none;
      .bland-list {
        background-color: rgb(239, 239, 239);
        cursor: pointer;
        display: inline-block;
        font-size: 14px;
        font-weight: 600;
        border-radius: 15px;
        padding: 8px 16px;
        text-decoration: none;
        color: inherit;
        margin-right: 10px;
        .link-bland {
          text-decoration: none;
          color: inherit;
        }
      }
    }
  }
}
