- case params.values_at :controller, :action

- when ['users', 'show']
  - breadcrumb :user_show

- when ['users', 'profile_edit']
  - breadcrumb :user_profile_edit


- when ['users', 'credit_edit']
  - breadcrumb :user_credit_edit

- when ['users', 'confirmation_edit']
  - breadcrumb :user_confirmation_edit

-# - when ['users', 'myaddress_edit']
-#   - breadcrumb :user_myaddress_edit

-# - when ['users', 'mail_pass_edit']
-#   - breadcrumb :user_confirmation_edit

-# - when ['users', 'tel_edit']
-#   - breadcrumb :user_tel_edit

= breadcrumbs separator: ' &nbsp;>&nbsp;&nbsp;',class: 'bread-crumbs'

