- case params.values_at :controller, :action

- when ['users', 'show']
  - breadcrumb :user_show

- when ['users', 'profile']
  - breadcrumb :user_profile


- when ['users', 'credit_edit']
  - breadcrumb :user_credit_edit

- when ['users', 'confirmation']
  - breadcrumb :user_confirmation

- when ['users', 'myaddress']
  - breadcrumb :user_myaddress

- when ['users', 'mail_pass']
  - breadcrumb :user_mail_pass

- when ['users', 'tel']
  - breadcrumb :user_tel

- when ['users', 'logout']
  - breadcrumb :user_logout

= breadcrumbs separator: ' &nbsp;>&nbsp;&nbsp;',class: 'bread-crumbs'

